body {
  --primary-colour: #393e51;
  --secondary-colour: #ca6144;
  --tertiary-colour: #566683;
  --bg-colour: #e9e6c9;
  background: linear-gradient(in hsl longer hue, #393e51, #e9e6c9);
  min-height: 100vh;
}

*{
  margin: 0;
  padding: 0;
  color:var(--primary-colour);
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  scroll-behavior: smooth;
}


/* NAVBAR */

nav{
  margin: 0;
  padding: 0;
  border-bottom: #ca6144 solid;
}

nav ul{
  width: 100%;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 18px;
  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 10px;
}

nav li{
  height: 65px;
}

nav a{
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #e9e6c9;
}

nav a:hover{
  color: #ca6144;
  transition: 0.2s;
}

nav li:first-child{
  margin-right: auto;
}

#logo img{
  width: 80px;
  height: 80px;
  border-radius: 100%;
  padding-left: 25px; 
}

.sidebar{
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: #5666832a;
  backdrop-filter: blur(10px);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.sidebar li{
  width: 100%;
}

.sidebar a{
  width: 100%;
}

.menu-button{
  display: none;
}

@media (max-width: 800px){
  .hideOnMobile{
    display: none;
  }
  .menu-button{
    display: block;
  }
}

@media (max-width: 400px) {
  .sidebar{
    width: 100%;
  }
}


/* MAIN SECTION */

section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}


/*                                        INTRO                                            */

#mainSection{
  width: 100%;
  height: calc(100vh - 90px);
  margin: 0;
  padding: 0;
  display: flex;
  align-content: center;
  flex-direction: row;
  justify-content: space-between;
}

.intro{
  display: inline-flex;
  flex-direction: column;
  align-content: center;
  margin-left: 200px;
}

#text1{
  font-size: 40px;
  color: #e9e6c9;
  opacity: 0;
}

#text2{
  font-size: 120px;
  color: #ca6144;
  text-transform: uppercase;
  opacity: 0;
}

#text3{
  font-size: 50px;
  color: #e9e6c9;
  opacity: 0;
}

.intro span{
  color: #8892a6;
}


.headerPage button{
  display: none;
  height: 70px;
  width: 70px;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  outline: none;
  color: #511808;
  cursor: pointer;
  padding: 15px;
  font-size: 35px;
  background-color: #ca6144;
  justify-self: end;
  border: none;
  border-radius: 30px;
  position: fixed;
  align-self: flex-end;
  font-weight: 400;
}

.arrows {
  width: 150px;
  height: 92px;
  position: absolute;
  left: 80%;
  margin-left: -30px;
  bottom: 30%;
}

.arrows path {
  stroke: #ca6144;
  fill: transparent;
  stroke-width: 1px;  
  animation: arrow 2s infinite;
  -webkit-animation: arrow 2s infinite; 
}

@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

.arrows path.a1 {
  animation-delay:-1s;
  -webkit-animation-delay:-1s; /* Safari and Chrome */
}

.arrows path.a2 {
  animation-delay:-0.5s;
  -webkit-animation-delay:-0.5s; /* Safari and Chrome */
}

.arrows path.a3 { 
  animation-delay:0s;
  -webkit-animation-delay:0s; /* Safari and Chrome */
}

.headerPage button:hover{
  background-color: #393e51;
  transition: 2s;
}

@media (max-width: 1300px) {
  .headerPage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #mainSection .arrows{
    justify-items: baseline;
  }
}

/*                                        ABOUT                                            */


/* #aboutSection{
  opacity: 0;
} */
.aboutMe{
  width: 950px;
  height: 100vh;
}

.aboutMe > * {
  margin-top: 60px;
  font-size: 40px;
  color:#ca6144;
}

.aboutMe h2{
  border-bottom: #ca6144 solid;
}


.image{
  width: 270px;
  height: 270px;
  border-radius: 100%;
  float: right;
  padding: 10px;
  border:#ca6144 solid;
}

.aboutMe p{
  font-size: 23px;
  padding-bottom: 40px;
  padding-top: 20px;
  color:#e9e6c9;
}

p span{
  color:#ca6144
}

/* @media (max-width: 950px) {
  .aboutMe {
    width: 100%;
  }
} */

/* @media (max-width: 950px) {
  .image {
    float: none;
  }
} */

.aboutMe::after {
  display: block;
  clear: both;
  content: "";
}


/*                                        PROJECTS                                            */

.projects{
  display: grid;
  grid-template-rows: 50px 270px 270px 270px;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 4rem;
  justify-items: center;
  align-items: center;
  height: 160vh;
  width: 950px;
  justify-content: center;
  margin: 1.5rem;
}

.grid-item p{
  text-align: center;
  padding-top: 70px;
  font-size: 20px;
  font-weight: 500;
  padding-left: 20px;
  padding-right: 20px;
  color: #511808;
}

.projects h2{
  grid-row: 1 / 2;
  grid-column: 1 / 3;
  font-size: 40px;
  border-bottom: #8f2b0f solid;
  color:#8f2b0f;
  justify-self: left;
  width: 950px;
  align-self: baseline;
}

#weatherVideo{
  grid-row: 2 / 3;
  position: relative;
}

video{
  border: #8f2b0f solid;
  border-radius: 15px;
}

.videoLink{
  text-decoration: none;
  position: relative;
}

.videoLink div{
  position: absolute;
}

.overlay{
  height: 0;
  z-index: 1;
  opacity: 1;
  font-size: 15px;
  background: transparent;
  text-decoration: none;
  transition: height 0ms 400ms, opacity 400ms 0ms;
  
}

.grid-item:hover + .overlay{
  height: 20px;
  opacity: 1;
  transition: height 0ms 0ms, opacity 400ms 0ms;
}

.grid-item:hover video{
  opacity: 0.7;
}

.grid-item span{
  text-decoration: #511808 underline;
  color: #511808;
}

.logoGit{
  border-radius: 100%;
  padding: 1px;
  margin: 9px;
  border: #511808 solid;
}

#mysqlVideo{
  grid-row: 3 / 4;
  grid-column: 2 / 3;
  position: relative;
}

#filmVideo{
  grid-row: 4 / 5;
  grid-column: 1 / 2;
  position: relative;
}



/*                                        SKILLS                                            */


.skills{
  display: grid;
  grid-template-rows: 80px 60px 80px 30px 80px 30px 60px 80px 30px ;
  grid-template-columns: 1fr 0.5fr 0.5fr 1fr;
  row-gap: 0.5rem;
  justify-items: center;
  align-items: center;
  margin: 1.5rem;
  width: 950px;
}

.skills p{
  justify-self: center;
  color: #511808;
  font-weight: 700;
}

.skills h3{
  color: #511808;
  text-transform: uppercase;
}

.skill-item-1{
  grid-row: 1 / 2;
  grid-column: 1 / 5;
  font-size: 40px;
  justify-self: left;
  width: 950px;
  border-bottom: #511808 solid;
  color: #511808;
}

.skill-item-2{
  grid-row: 2 / 3;
  grid-column: 1/ 5;
}

.skill-item-3{
  grid-row: 3 / 4;
  grid-column: 1/ 2;
}

.skill-item-4{
  grid-row: 4 / 5;
  grid-column: 1/ 2;
  opacity: 0;
  height: 0;
  transition: height 0ms 400ms, opacity 400ms 0ms;
}

.skill-item-3:hover + .skill-item-4{
  height: 20px;
  opacity: 1;
  transition: height 0ms 0ms, opacity 400ms 0ms;
}

.skill-item-5{
  grid-row: 3 / 4;
  grid-column: 2/ 4;
}

.skill-item-6{
  grid-row: 4 / 5;
  grid-column: 2/ 4;
  opacity: 0;
  height: 0;
  transition: height 0ms 400ms, opacity 400ms 0ms;
}

.skill-item-5:hover + .skill-item-6{
  height: 20px;
  opacity: 1;
  transition: height 0ms 0ms, opacity 400ms 0ms;
}

.skill-item-7{
  grid-row: 3 / 4;
  grid-column: 4/ 5;
}

.skill-item-8{
  grid-row: 4 / 5;
  grid-column: 4/ 5;
  opacity: 0;
  height: 0;
  transition: height 0ms 400ms, opacity 400ms 0ms;
}

.skill-item-7:hover + .skill-item-8{
  height: 20px;
  opacity: 1;
  transition: height 0ms 0ms, opacity 400ms 0ms;
}

.skill-item-9{
  grid-row: 5 / 6;
  grid-column: 1/ 2;
}

.skill-item-10{
  grid-row: 6 / 7;
  grid-column: 1/ 2;
  opacity: 0;
  height: 0;
  transition: height 0ms 400ms, opacity 400ms 0ms;
}

.skill-item-9:hover + .skill-item-10{
  height: 20px;
  opacity: 1;
  transition: height 0ms 0ms, opacity 400ms 0ms;
}

.skill-item-11{
  grid-row: 5 / 6;
  grid-column: 2/ 4;
}

.skill-item-12{
  grid-row: 6 / 7;
  grid-column: 2/ 4;
  opacity: 0;
  height: 0;
  transition: height 0ms 400ms, opacity 400ms 0ms;
}

.skill-item-11:hover + .skill-item-12{
  height: 20px;
  opacity: 1;
  transition: height 0ms 0ms, opacity 400ms 0ms;
}

.skill-item-13{
  grid-row: 5 / 6;
  grid-column: 4 / 5;
}

.skill-item-14{
  grid-row: 6 / 7;
  grid-column: 4/ 5;
  opacity: 0;
  height: 0;
  transition: height 0ms 400ms, opacity 400ms 0ms;
}

.skill-item-13:hover + .skill-item-14{
  height: 20px;
  opacity: 1;
  transition: height 0ms 0ms, opacity 400ms 0ms;
}


.skill-item-15{
  grid-row: 7 / 8;
  grid-column: 1 / 5;
}


.skill-item-16{
  grid-row: 8 / 9;
  grid-column: 1 / 4;
}

.skill-item-17{
  grid-row: 9 / 10;
  grid-column: 1 / 4;
  opacity: 0;
  height: 0;
  transition: height 0ms 400ms, opacity 400ms 0ms;
}

.skill-item-16:hover + .skill-item-17{
  height: 20px;
  opacity: 1;
  transition: height 0ms 0ms, opacity 400ms 0ms;
}

.skill-item-18{
  grid-row: 8 / 9;
  grid-column: 2 / 5;
}

.skill-item-19{
  grid-row: 9 / 10;
  grid-column: 2 / 5;
  opacity: 0;
  height: 0;
  transition: height 0ms 400ms, opacity 400ms 0ms;
}

.skill-item-18:hover + .skill-item-19{
  height: 20px;
  opacity: 1;
  transition: height 0ms 0ms, opacity 400ms 0ms;
}

.skills img{
  width: 90px;
  height: 90px;
  border-radius: 100%;
}



/*                                        CONTACT                                            */

.contact{
  height: 100vh;
  width: 950px;
  align-content: center;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 80px 80px 80px 190px 80px;
  align-items: center;
  justify-items: space-between;
}

.contactTitle h2{
  font-weight: 600;
  font-size: 40px;
  margin-bottom: 5px;
  color: #511808;
  border-bottom: #511808 solid;  
}

.contactTitle{
  grid-row: 1 / 2;
  grid-column: 1/ 3;
}

#nameInput{
  grid-row: 2 / 3;
  grid-column: 1/ 2;
}

#emailInput{
  grid-row: 3 / 4;
  grid-column: 1/ 2;
}

#messageInput{
  grid-row: 4 / 5;
  grid-column: 1/ 2;
}

.contactTitle hr{
  border: none;
  width: 120px;
  height: 5px;
  border: 10px;
  margin-bottom: 20px;
}

.contact-inputs{
  width: 370px;
  height: 50px;
  border: none;
  outline: none;
  padding-left: 25px;
  font-weight: 500;
  border-radius: 50px;
  background-color: aliceblue;
}

.contact textarea{
  height: 140px;
  padding-top: 15px;
  border-radius: 20px;
}

.contact-inputs:focus{
  border: 2px solid #511808;
}

.contact button{
  display: flex;
  align-items: center;
  padding: 15px 39px;
  font-size: 16px;
  gap: 10px;
  border: none;
  border-radius: 50px;
  background: linear-gradient(270deg, #ca6144, #511808);
  cursor: pointer;
  color: #e9e6c9;
  grid-row: 5 / 6;
  grid-column: 1/ 2;
  width: 110px;
}

.contact a{
  text-decoration: none;
}

.contact a:hover{
  text-decoration: underline;
}

/* @media (max-width: 950px) {
  .contact-inputs{
    width:80vw;
  }
} */